.m-header__container{ 
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    place-content: space-between;
}

@keyframes appear{
    from { 
        opacity: 0; 
    }
    to {  
        opacity: 0.5; 
    }
}
@keyframes hide{
    from { 
        opacity: 0.5; 
    }
    to {  
        opacity: 0; 
    }
}

@keyframes slide-right{
    from { 
        position: absolute;
        right: -300px; 
    }
    to {  
        position: absolute;
        right: 0; 
    }
}
@keyframes unslide-right {
    from { 
        position: absolute;
        right: 0; 
    }
    to {
        position: absolute;
        right: -300px;
    }
}


.m-header__navBar{

    &.hidden{
        display: none;
    }
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    &.close {
        .a-navBar__background{
            animation-name: hide;
            animation-duration: 0.5s;
            background-color: grey;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.5;
            height: 100%;
            width: 100%;
        }
        .a-navBar__controls{
            animation-name: unslide-right;
            animation-duration: 0.5s;
            position: absolute;
            top: 0;
            right:0;
            height: 100%;
            display: flex;
            justify-content: space-between;
            background: white;
            z-index: 999;
        }
    }


    &.open {
        display: unset;
        .a-navBar__background{
            animation-name: appear;
            animation-duration: 0.5s;
            background-color: grey;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.5;
            height: 100%;
            width: 100%;
        }
        .a-navBar__controls{
            animation-name: slide-right;
            animation-duration: 0.5s;
            position: absolute;
            top: 0;
            right:0;
            height: 100%;
            display: flex;
            justify-content: space-between;
            background: white;
            z-index: 999;
        }
    } 
}

.a-navBar__button{
    cursor: pointer;
}

.a-navBar__list{
    margin: 3em;
    padding: 0;
    list-style-type: none;
    height: fit-content;
    li{
        margin-bottom: 3em;
        font-size: 1rem;
    }
}

.a-navBar__close{
    padding: 1em 1em;
    margin: 2em 2em;
    cursor: pointer;
    height: fit-content;
}

@media only screen and (min-width: 680px){
    
    .m-header__navBar{
        position: unset;
        height: unset;
        width: unset;
        &.hidden{
            display: block;
        }

        &.open .a-navBar__controls{
            position: inherit;
        }
    
        .a-navBar__list{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0;
            li{
                margin: 0 1.5em;
            }
        }

    }

    .a-navBar__button{
        display: none;
    }
    
    .a-navBar__close{
        display: none;
    }

    
    .a-navBar__background{
        display: none;
    }
} 

@media only screen and (min-width: 1400px){
    .m-header__container{ 
        display: flex;
        align-items: center;
        padding: 1.5rem 5rem;
        place-content: space-between;
    }

}