.footer-container{
    background-color: #727272;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 600;

    .footer-company{
        font-size: 1.5rem;
        font-weight: 700;
    }
}